Repository spiffe/spiffe, changes with the owners that CODEOWNERS names for each.
All owners: @evan2645, @justinburke, @spikecurtis, @azdagron, @spiffe/ssc

Record 2021 H2 SSC Election Results (#207)
  ssc/README.md
  ssc/elections/2021H2/README.md
Owners: @spiffe/ssc

Add text describing process for changing maturity levels
  MATURITY.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Add maturity badge (#206)
  README.md
Owners: @spiffe/ssc

Add security considerations text around "claims"
  standards/SPIFFE-ID.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Clarify security requirements for pre-prod maturity
  MATURITY.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Move to static maturity badges
  .img/maturity/deprecated.png
  .img/maturity/dev.png
  .img/maturity/pre-prod.png
  .img/maturity/prod.png
  MATURITY.md
  README.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron, @spiffe/ssc

Switch from png to svg for maturity badges
  .img/maturity/deprecated.png
  .img/maturity/deprecated.svg
  .img/maturity/dev.png
  .img/maturity/dev.svg
  .img/maturity/pre-prod.png
  .img/maturity/pre-prod.svg
  .img/maturity/prod.png
  .img/maturity/prod.svg
  MATURITY.md
  README.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron, @spiffe/ssc

Add text describing process for changing maturity levels (#208)
  MATURITY.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Move to static maturity badges (#211)
  .img/maturity/deprecated.svg
  .img/maturity/dev.svg
  .img/maturity/pre-prod.svg
  .img/maturity/prod.svg
  MATURITY.md
  README.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron, @spiffe/ssc

Clarify security requirements for pre-prod maturity (#210)
  MATURITY.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Adjust timings for election process, add clarity
  ssc/CHARTER.md
  ssc/elections/README.md
Owners: @spiffe/ssc

actually let's do term start to handle edge cases/new seats
  ssc/elections/README.md
Owners: @spiffe/ssc

small wording fix
  ssc/CHARTER.md
Owners: @spiffe/ssc

Adjust timings for election process, add clarity (#212)
  ssc/CHARTER.md
  ssc/elections/README.md
Owners: @spiffe/ssc

Address CR feedback
  standards/SPIFFE-ID.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Address CR feedback
  standards/SPIFFE-ID.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Skip dependabot[bot] in vote discovery script
  ssc/elections/script/find_eligible_voters.sh
Owners: @spiffe/ssc

tabs vs spaces
  ssc/elections/script/find_eligible_voters.sh
Owners: @spiffe/ssc

Skip dependabot[bot] in vote discovery script (#214)
  ssc/elections/script/find_eligible_voters.sh
Owners: @spiffe/ssc

Add security considerations text around "claims" (#209)
  standards/SPIFFE-ID.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

Add new security considerations section for SPIFFE IDs
  standards/SPIFFE-ID.md
Owners: @evan2645, @justinburke, @spikecurtis, @azdagron

fix template typo
  ssc/elections/ELECTION_ISSUE_TEMPLATE.md
Owners: @spiffe/ssc

create 2022H1 election folder
  ssc/elections/2022H1/README.md
Owners: @spiffe/ssc

create 2022H1 election folder (#218)
  ssc/elections/2022H1/README.md
Owners: @spiffe/ssc

fix template typo (#217)
  ssc/elections/ELECTION_ISSUE_TEMPLATE.md
Owners: @spiffe/ssc

self nominate
  ssc/elections/2022H1/BRIAN_MARTIN.md
Owners: @spiffe/ssc

Andrew nominates Dan for SSC
  ssc/elections/2022H1/DAN_FELDMAN.md
Owners: @spiffe/ssc

Andrew nominates Agustin
  ssc/elections/2022H1/AGUSTIN_MARTINEZ_FAYO.md
Owners: @spiffe/ssc

Adds missing glyphs
  ssc/elections/2022H1/AGUSTIN_MARTINEZ_FAYO.md
Owners: @spiffe/ssc

Nominate Ed Warnicke for 2022H1 SSC Election
  ssc/elections/2022H1/ED_WARNICKE.md
Owners: @spiffe/ssc

Nominate Brandon Lum for an SSC term
  ssc/elections/2022H1/BRANDON_LUM.md
Owners: @spiffe/ssc

Nominate Agustin Martínez Fayó for 2022H1 SSC Election (#222)
  ssc/elections/2022H1/AGUSTIN_MARTINEZ_FAYO.md
Owners: @spiffe/ssc

self nominate (#220)
  ssc/elections/2022H1/BRIAN_MARTIN.md
Owners: @spiffe/ssc

Nominate Ed Warnicke for 2022H1 SSC Election (#223)
  ssc/elections/2022H1/ED_WARNICKE.md
Owners: @spiffe/ssc

Andrew nominates Dan for SSC (#221)
  ssc/elections/2022H1/DAN_FELDMAN.md
Owners: @spiffe/ssc

Nominate Brandon Lum for an SSC term (#224)
  ssc/elections/2022H1/BRANDON_LUM.md
Owners: @spiffe/ssc

Update based on 2022H1 election
  ssc/README.md
Owners: @spiffe/ssc

also election README tracker
  ssc/elections/2022H1/README.md
Owners: @spiffe/ssc

Update SSC members and election results for 2022H1 (#225)
  ssc/README.md
  ssc/elections/2022H1/README.md
Owners: @spiffe/ssc

Add link to SPIRE Contributor Sync meeting notes doc
  community/sig-spire/README.md
Owners: @spiffe/ssc

CODEOWNERS:

##
## SPIFFE Maintainers
##

*  @evan2645 @justinburke @spikecurtis @azdagron

/CODE-OF-CONDUCT.md @spiffe/ssc
/GOVERNANCE.md      @spiffe/ssc
/README.md          @spiffe/ssc
/community/         @spiffe/ssc
/ssc/               @spiffe/ssc
